.movingHead {
  animation: moveHead 6s infinite;
}

.movingTail {
  animation: moveTail 3s infinite;
}

.movingPupil {
  animation: movePupil 4s infinite;
}

@keyframes moveTail {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes moveHead {
  0%,
  50%,
  100%,
  56%,
  89% {
    transform: rotate(0deg);
  }
  51%,
  55% {
    transform: rotate(5deg);
  }
  90%,
  98% {
    transform: rotate(-5deg);
  }
}

@keyframes movePupil {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
